.logo {
  color: var(--theme-color);
  width: 38px;
  flex-shrink: 0;
  display: flex;
}

* {
  font-family: "Inter", sans-serif;
  background-color: whitesmoke;
  margin: 0px;
  padding: 0px;
  border: 0px;

}

body {
  background-image: image();
}

.loginButton {
  background-color: black;
  color: white;
  border-radius: 6px;
  border: 1px solid;
  padding: 6px;
}

.navbar,
.navbar a,
.navbar .navbar-brand,
.navbar .nav-link {
  color: black !important;
  font-size: xx-large;
  font-family: sans-serif;
}

.About {
  padding-left: 0vh !important;
}

.content {
  padding-top: 5vh;
}


.footer-basic {
  padding: 40px 0;
  background-color: #ffffff;
  color: #4b4c4d;
}

.footer-basic ul {
  padding: 0;
  list-style: none;
  text-align: center;
  font-size: 18px;
  line-height: 1.6;
  margin-bottom: 0;
}

.footer-basic li {
  padding: 0 10px;
}

.footer-basic ul a {
  color: inherit;
  text-decoration: none;
  opacity: 0.8;
}

.footer-basic ul a:hover {
  opacity: 1;
}

.footer-basic .social {
  text-align: center;
  padding-bottom: 25px;
}

.footer-basic .social>a {
  font-size: 24px;
  width: 40px;
  height: 40px;
  line-height: 40px;
  display: inline-block;
  text-align: center;
  border-radius: 50%;
  border: 1px solid #ccc;
  margin: 0 8px;
  color: inherit;
  opacity: 0.75;
}

.footer-basic .social>a:hover {
  opacity: 0.9;
}

.footer-basic .copyright {
  margin-top: 15px;
  text-align: center;
  font-size: 13px;
  color: #aaa;
  margin-bottom: 0;
}

.content-container {
  padding-bottom: 150px;
  /* Adjust this value as needed */
}

.footer_area {
  background-color: #f8f9fa;
  padding: 130px 0;
  position: relative;
  width: 100%;
}

#particles-js {
  height: 100%
}

.loginBox {
  width: 350px;
  min-height: 200px;
  border-radius: 10px;
  padding: 40px;
  box-sizing: border-box;
  margin-top: 25vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.user {
  margin: 0 auto;
  display: block;
  margin-bottom: 20px
}

h3 {
  margin: 0;
  padding: 0 0 20px;
  color: #59238F;
  text-align: center
}

.loginBox input {
  width: 100%;
  margin-bottom: 20px
}

.loginBox input[type="text"],
.loginBox input[type="password"] {
  border: none;
  border-bottom: 2px solid #262626;
  outline: none;
  height: 40px;
  color: #fff;
  background: transparent;
  font-size: 16px;
  padding-left: 20px;
  box-sizing: border-box
}

.loginBox input[type="text"]:hover,
.loginBox input[type="password"]:hover {
  color: #42F3FA;
  border: 1px solid #42F3FA;
  box-shadow: 0 0 5px rgba(0, 255, 0, .3), 0 0 10px rgba(0, 255, 0, .2), 0 0 15px rgba(0, 255, 0, .1), 0 2px 0 black
}

.loginBox input[type="text"]:focus,
.loginBox input[type="password"]:focus {
  border-bottom: 2px solid #42F3FA
}

.inputBox {
  position: relative
}

.inputBox span {
  position: absolute;
  top: 10px;
  color: #262626
}

.loginBox input[type="submit"] {
  border: none;
  outline: none;
  height: 40px;
  font-size: 16px;
  background: #59238F;
  color: #fff;
  border-radius: 20px;
  cursor: pointer
}

.loginBox a {
  color: #262626;
  font-size: 14px;
  font-weight: bold;
  text-decoration: none;
  text-align: center;
  display: block
}

a:hover {
  color: #00ffff
}

p {
  color: #0000ff
}